@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="/dataentry/search"> تلاش </a>
<br>
<a href="/dataentry/word"> نیا لفظ </a>
<br>
<a href="/dataentry/poetry"> شاعری داخلہ </a>
<br>
<a href="/dataentry/carousel"> تازہ ترین </a>


