@{string lnk = "https://www.aruuz.com/poetry?id=" + Model.ToString();

}

<div class="row urdu">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
        <p class="center-align urdu-naskh">
            @Html.Label("خرابی")
        </p>
        <br>
        <p class="center-align">
           عنوان لکھنا ضروری ہے۔
        </p>
    </div>
</div>
