@model IEnumerable<Aruuz.Models.Messages>
@using System.Globalization
@{
    ViewBag.Title = "اطلاعات کا صفحہ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col col-md-8 col-12 align-self-center">
        <div class="card">
            <div class="card-header bg-light py-1">
                <div class="row" dir="rtl">
                    <div class="col col-md-6 col-4 urdu text-info text-right">
                        اطلاعات
                    </div>
                </div>
            </div>
            <div class="card-body py-1" style="transform: rotate(0);">
                <div class="table-responsive">
                    <table class="table table-striped text-right urdu-medium">
                        <thead>
                            <tr>
                                <th scope="col" colspan="4">عنوان</th>
                                <th scope="col">تاریخ</th>
                                <th scope="col">جوابات</th>
                                <th scope="col">مرسل</th>
                                <th scope="col">منزل</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <td colspan="4">
                                        <a href="/message?id=@m.IdMessages" class="text-info" id="@m.IdMessages">@m.Title</a>
                                    </td>
                                    <td>
                                        <a style="text-align:right; color:darkgray" class="urdu-small float-right pl-1 pt-1">
                                            <i class="fa fa-clock-o"></i>
                                            @m.Date.ToString("d  MMMM", CultureInfo.CreateSpecificCulture("ur-PK"))
                                        </a>
                                    </td>
                                    <td>
                                        @m.Comments
                                    </td>
                                    <td class="text-right">
                                        @await Component.InvokeAsync("UserPicture", m.IdFromUser)
                                    </td>
                                    <td class="text-right">
                                        @await Component.InvokeAsync("UserPicture", m.IdToUser)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
    </div>
</div>
