@using Microsoft.AspNetCore.Identity
@using Aruuz.Areas.Identity.Data

@inject SignInManager<AruuzUser> SignInManager
@inject UserManager<AruuzUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var Name = user?.Name;}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" dir="ltr" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-extra urdu-medium text-left float-left">اخراج</button>
            </form>
        </li>
        <li class="nav-item">
            <a id="profile" class="nav-link urdu-medium text-left text-info" href="/?user=@user.UserName" title="Manage">@Name</a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link urdu-medium text-left text-info" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-gear pl-1"></i> </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link urdu-medium text-left text-extra" id="register" asp-area="Identity" asp-page="/Account/Register">رجسٹر</a>
        </li>
        <li class="nav-item">
            <a class="nav-link urdu-medium text-left text-extra" id="login" asp-area="Identity" asp-page="/Account/Login">داخلہ</a>
        </li>
    }
</ul>
