<div class="alert alert-info text-right" role="alert" dir="rtl">
    <h4 class="alert-heading urdu">اطلاع</h4>
    <p class="urdu-medium">آپ نے 50 سے زیادہ مصرعے داخل کئے اس لئے آپ یہ پیغام دیکھ رہے ہیں۔ تمام صارفین کو بہتر سہولت دینے کے لئے یہ قدغن لگائی گئی ہے۔.</p>
    <hr>
    <p class="mb-0 urdu-medium">اگر آپ کسی خاص ضرورت کے تحت 50 سے زیادہ مصرعوں کا نتیجہ دیکھنا چاہتے ہیں تو انتظامیہ سے رابطہ کریں۔</p>
</div>