<div class="alert alert-warning text-right" role="alert" dir="rtl">
    <h4 class="alert-heading urdu">اطلاع</h4>
    <p class="urdu-medium">آپ نے 24 سے زیادہ مصرعے داخل کئے اس لئے آپ یہ پیغام دیکھ رہے ہیں۔.</p>
    <hr>
    <p class="mb-0 urdu-medium">اگر آپ 24 سے زیادہ مصرعوں کا نتیجہ دیکھنا چاہتے ہیں تو ہماری سائٹ پر <a href="/identity/account/register">رجسٹر</a> کریں یا <a href="/identity/account/login">لاگ ان </a> کریں</p>
    <p class="urdu-medium">آپ ہماری سائٹ پر چند معلومات ڈال کر رجسٹر ہو سکتے ہیں۔ یا پھر نہایت آسانی سے فیسبک یا گوگل کے اکاونٹ کے ذریعے رجسٹر ہو سکتے ہیں۔ </p>
    <p><span style="font-family: MehrNastaleeq;">﻿رجسٹر کرنے کے مزید فوائد درج ذیل ہیں:</span></p><ul><li><span style="font-family: MehrNastaleeq;">ایک وقت میں 24 مصرعوں کا نتیجہ دیکھا جا سکتا ہے۔</span></li><li><span style="font-family: MehrNastaleeq;">آپ اپنی&nbsp; نئی شاعری&nbsp; ہماری سائٹ پر اپنی بیاض میں محفوظ کر سکتے ہیں اور اس کی گاہے بگاہے تدوین کر سکتے ہیں۔ (یہ آپ کے اختیار میں ہے کہ یہ شاعری صرف آپ دیکھیں یا پھر شائع کریں۔)</span></li><li><span style="font-family: MehrNastaleeq;">آپ اپنی موزوں شاعری شائع کر سکتے ہیں۔</span></li><li><span style="font-family: MehrNastaleeq;">آپ اپنی شاعری&nbsp; دیگر صارفین کے لئے بطور اصلاح یا بطور نقد پیش کر سکتے ہیں۔</span></li><li><span style="font-family: MehrNastaleeq;">آپ شاعری کے علاوہ دیگر موضوعات پر گفتگو کر سکتے ہیں۔&nbsp;</span></li><li><span style="font-family: MehrNastaleeq;">آپ اپنے پیج پر اپنی تخلیقات پیش کر سکتے ہیں۔&nbsp;<br></span><br></li></ul>
</div>